<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>card_back.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{103,143}</string>
    <key>spriteSourceSize</key>
    <string>{103,143}</string>
    <key>textureRect</key>
    <string>{{117,0},{103,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>card_fort.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,158}</string>
    <key>spriteSourceSize</key>
    <string>{115,158}</string>
    <key>textureRect</key>
    <string>{{0,0},{115,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{222,160}</string>
   <key>textureFileName</key>
   <string>pokes.png</string>
  </dict>
 </dict>
</plist>
